//Variables
$primary-font: 'Montserrat', sans-serif !important;
$secondary-font: 'Montserrat', sans-serif !important;
$primary-color: #7ADFB7;
$secondary-color: #F581AF;
$disabled-color: #f25d98;
$button-color: #0E0C22;

// Texts
h1 {
  font-family: $primary-font;
  text-align: left;
  font-size: 6rem;
  margin-left: 4rem;
  color: $primary-color;
  font-weight: 700;
}

h2 {
  font-family: $secondary-font;
  font-size: 4rem;
  font-weight: 700;
}

h3 {
  font-family: $primary-font;
  font-size: 6rem;
  margin-left: 4rem;
  color: $primary-color;
  font-weight: 700;
}

h4 {
  font-family: $secondary-font;
  font-size: 1.75rem;
  color: white;
  font-weight: 700;
}

p {
  font-family: $secondary-font;
  font-size: 1.25rem;
}

a {
  color: $button-color;
  text-decoration: none;
  font-family: $secondary-font;
}

//General

body,
html {
  color: white;
}

.fp-tableCell {
  display: flex !important;
  align-items: center;
}

.half-container {
  width: 50%;
}


// Section 1 - Home

.s1 {
  color: white;
  display: table-cell;

  h2 {
    text-align: left;
    font-size: 3rem;
    margin-left: 4rem;
  }
}

// Section 2 - Work

.s2 {
  ul {
    list-style: none;
  }

  .work-item {
    display: block;
  }

  .work-header {
    display: flex;
    justify-content: space-between;
    margin: 1rem 4rem 0 0;
    padding: 1rem 1rem 0;
    align-items: center;
  }

  .work-description {
    display: none;
    color: white;
    margin: 0 5rem 0 0;
    padding: 0 1rem 1rem;

    p {
      padding-bottom: 0.5rem;
    }
  }

  .toggle-button {
    border-radius: 50%;
    height: 2rem;
    background-color: $secondary-color;
    padding: 1.25rem;
    margin-right: 4rem;
    color: $button-color;

    &:hover .fa-plus {
      transform: scale(0.8);
    }

    &:hover .fa-minus {
      transform: scale(0.8);
    }
  }

  .fa-minus,
  .fa-plus {
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
  }

  .primary-button {
    border-radius: 10px;
    padding: 0.5rem 1rem;
    margin: 0 1rem 0 0;
    background-color: $secondary-color;
    min-width: 15% !important;
    text-decoration: none;
    font-size: 1.25rem;
    border: 2px solid transparent;
    transition: 0.3s;

    &:hover {
      border: 2px solid $primary-color;
    }
  }

  .disabled {
    cursor: not-allowed;
    background-color: $disabled-color;
  }
}

// Section 3 - Me 

.s3 {
  .me-description {
    margin-right: 4rem;

    p {
      font-size: 2rem;
    }

    em {
      color: $secondary-color;
      font-style: normal;
    }
  }
}

// Section 4 - Contact

.s4 {
  form {
    overflow: hidden;
    margin-right: 4rem;

    #form-messages {
      margin: 2rem 0 2rem 2rem;
      font-family: $secondary-font;
      padding: 1rem;
      border-radius: 5px;
    }

    .success {
      background-color: green;
    }

    .error {
      background-color: red;
    }

    button,
    input,
    textarea {
      position: relative;
      margin: 2rem;
      background-color: transparent;
      color: white;
      font-size: 1.5rem;
      font-family: $secondary-font;
      border: none;
      border-bottom: 3px solid white;
      width: 100%;
      transition: 0.5s;

      &::placeholder {
        color: white;
      }

      &:focus,
      &:hover {
        border-bottom: 3px solid $secondary-color;
        -webkit-box-shadow: none;
        box-shadow: none;
        outline: 0;
      }
    }

    button {
      cursor: pointer;
      padding: 0.5rem 1rem;
      color: $button-color;
      background-color: $secondary-color;
      min-width: 15% !important;
      width: 30%;
      font-size: 2.25rem;
      border: 3px solid transparent;
      border-radius: 5px;

      &:focus,
      &:hover {
        border: 3px solid white;

        &::before {
          opacity: 1;
          transform: translate(0, 0);
        }
      }

      &:before {
        content: attr(data-hover);
        position: absolute;
        left: 0;
        width: 100%;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-weight: 800;
        font-size: 0.8em;
        opacity: 0;
        color: white;
        transform: translate(-100%, 0);
        transition: all 0.3s ease-in-out;
      }

      & div {
        text-transform: uppercase;
        letter-spacing: 3px;
        font-weight: 800;
        font-size: 0.8em;
        transition: all 0.3s ease-in-out;
      }

      /*button div (button text before hover)*/
      &:focus div,
      &:hover div {
        box-sizing: border-box;
        opacity: 0;
        transform: translate(100%, 0);
      }
    }

    textarea {
      word-break: break-all;
      overflow: hidden;
      text-overflow: ellipsis;
      resize: none;
    }
  }
}

@media only screen and (max-width: 1100px) {

  // Fonts
  h1,
  h3 {
    text-align: center;
    margin: 0 0 10rem;
    font-size: 9rem;
  }

  .s1 h2 {
    font-size: 4rem;
    text-align: center;
    margin: 0;
  }

  h4 {
    font-size: 3rem;
  }

  p {
    font-size: 2.5rem;
  }

  //General
  .fp-tableCell {
    display: table-cell !important;
  }

  .half-container {
    width: 100%;
  }

  .section {
    text-align: center;
  }

  // Section 2
  .s2 {
    .work-header {
      margin: 1rem 0 0;
    }

    .primary-button {
      padding: 0.5rem 1rem;
      font-size: 2.25rem;
    }
  }

  //Section 3
  .s3 .me-description {
    margin: 0;

    p {
      font-size: 3rem;
    }
  }

  // Section 4
  .s4 form {
    display: block;

    input,
    textarea {
      font-size: 3rem;

      &[type='submit'] {
        font-size: 3rem;
      }
    }
  }
}